.companyForm{
    height: 600;
    width: 100%;
    position:absolute;
    left: 0px;
    top: 150px;
}

.left_container{
    position: absolute;
    left: 20px;
}

.center_container{
    position: absolute;
    left: 80px;
}

.profile_circle{
    border: 1px solid grey;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    right: 80px;
    top: 20px;
}

.profile_circle:hover{
    border: 1px solid #ff4500;
}

.logo_upload{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 70px;
}

