.botanimation{
    height: auto;
    width: 100%;
    align-items: center;
    z-index: 1;
}
.animation_container{
    position: relative;
    display: flex;
    float: left;
    top: 60px;
    padding: 10px;
    width: 100%;
    min-height: fit-content;
    height: 350px;
    align-items: center;
}

.bot{
    height: 350px;
    width: 300px;
    position: relative;
    left: 50px;
    border-radius: 100px;
    margin-left: 20px;
}

.bot_conversation_container{
    width: 790px;
    height: 100px;
    min-width: fit-content;
    min-height: fit-content;
    position: relative;
    left: 80px;
    top: 0px;
    text-align: left;
    display: grid;
    padding: 20px;
    border: 1px solid none;
    border-radius: 0 50px 50px 35px;
    font-weight: 600;
    background-color: #dee2e6;
}

.first{
    position: relative;
    left: 0px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.second{
    width: fit-content;
    height: fit-content;
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: .05em; 
    font-size: 1.7rem;
    color: #ff4500;
    position: relative;
    top: 5px;
    left: 0px;
    animation: typing 3.5s steps(40, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
