.featuresdesc{
    height: auto;
    width: 100%;
    min-width: fit-content;
    align-items: center;
    z-index: -1;
    position: relative;
    display: grid;
    float: left;
    top: 35px;
    left: 0px;

    background-color: #e50914;
}

.contact_centre_container, .conference_container{
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 10px;
}

.contact_centre_details, .conference_details{
    display: grid;
    height: fit-content;
    position: relative;
    left: 10px;
    padding: 0 10px;
    text-align: left;

}

.contact_centre_details{
    width: 650px;
    top: 50px;
    left: 50px;
}

.conference_details{
    width: 600px;
    top: 50px;
    left: 200px;
}

.contact_centre_title, .conference_title{
    font-weight: 600;
    font-size: 2rem;
    color: #ff4500;
}

.contact_centre_desc, .conference_desc{
    font-size: 1.1rem;
    margin-top: 0px;
}

.contact_centre_img, .conference_img{
    height: fit-content;
    width: fit-content;
    position: relative;
}

.feature_img{
    border-radius: 30px;
}

.contact_centre_img{
    left: 160px;
    width: 450px;
}

.conference_img{
    left: 30px;
    height: 300px;
    width: 500px;
}

.startBtnBottom{
    padding: 10px;
    height: 60px;
    width: 400px;
    margin: 50px;
    position: relative;
    left: 450px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #404c53;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.5s;
    text-decoration: none
}

.startBtnBottom:hover{
    background-color: #e50914;
}

.startBtnBottom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.startBtnBottom span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .startBtnBottom:hover span {
    padding-right: 20px;
  }
  
  .startBtnBottom:hover span:after {
    opacity: 1;
    right: 0;
  }

